<template name="project_frame">
  <div class="project-app-frame">

    <div class="app-title">
      Gifts For Xyz - http://giftsfor.xyz
    </div>

    <span class="navigation-icons">
      <a herf="#" class="about-this-project" data-placement="right">
        <i class="fa fa-info-circle"></i>
      </a>
    </span>

    <span class="window-icons pull-right">
      <a href="#">
        <i class="fa fa-circle minimize"> </i>
      </a>
      <a href="#">
        <i class="fa fa-circle maximize"></i>
      </a>
      <a href="#">
        <i class="fa fa-circle app-close"></i>
      </a>
    </span>
    <iframe src="" class="project-app"> </iframe>

  </div>
</template>
