<template name="side_bar">

  <nav class="side-navbar">
    <span class="logo home side-bar-item">
    <a href="/">  {{> logo }}</a>
    </span>

    <ul>
      <li class="projects side-bar-item">
        <a href="/projects"> <i class="fa fa-terminal"></i> Projects </a>
      </li>
      <li class="contact side-bar-item">
        <a href="/contact"> <i class="fa fa-user"></i> Contact </a>
      </li>
      <li class="github side-bar-item">
        <a href="https://github.com/caoakleyii"><i class="fa fa-github"></i> GitHub</a>
      </li>
    </ul>

    <!-- Facebook -->
    <div class="social-media-profiles">
      <a href="https://www.facebook.com/caoakley" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
      </a>

      <!-- Google+ -->
      <a href="https://plus.google.com/u/0/109298482545176960820/posts" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
      </a>

      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/profile/view?id=AAIAAA0KdjEB7og70OQheQIRSTE5xC33A4ASXek" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
      </a>
    </div>
  </nav>
</template>
