<template name="side_bar">

  <nav class="side-navbar">
    <div class="menu-drawer hidden-md hidden-lg">
      <i class="fa fa-bars menu-drawer-button"> </i>
    </div>

    <span class="mobile-drawer">
      <span class="logo home side-bar-item">
      <a href="/">  {{> logo }}</a>
      </span>

      <ul>
        <li class="projects side-bar-item">
          <a href="/projects"> <i class="fa fa-terminal hidden-xs hidden-sm"></i> Projects </a>
        </li>
        <li class="contact side-bar-item">
          <a href="/contact"> <i class="fa fa-user hidden-xs hidden-sm"></i> Contact </a>
        </li>
        <li class="blog side-bar-item">
          <a href="http://blog.chrisaoakley.com"><i class="fa fa-book hidden-xs hidden-sm"></i> Blog </a>
        </li>
        <li class="github side-bar-item">
          <a href="https://github.com/caoakleyii"><i class="fa fa-github hidden-xs hidden-sm"></i> GitHub</a>
        </li>
      </ul>


      <div>
        <ul>
          <li class="opened-app-tray open-app">
      		  <img class="project-icon">
          </li>
        </ul>
      </div>

    </span>
    <!-- Facebook -->
    <div class="social-media-profiles">
      <a href="https://www.facebook.com/caoakley" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
      </a>

      <!-- Google+ -->
      <a href="https://plus.google.com/u/0/109298482545176960820/posts" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
      </a>

      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/profile/view?id=AAIAAA0KdjEB7og70OQheQIRSTE5xC33A4ASXek" target="_blank">
          <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
      </a>
    </div>
  </nav>
</template>
