<template name="home">
  <div class="profile-container">
    <img src="/img/profile.jpg" alt="public picture" class="profile-img hidden-xs hidden-sm" />
    <span class="welcome-header">Chris Oakley</span>
    <span class="welcome-subheader">Full Stack Developer</span>
  </div>


  <div class="about-me-container">
    Hello World; Welcome.
    <br />
    <span class="about-me-subheadline"> I design and build applications with Node.JS, C#, and Meteor. </span>
    <br />
    <br />
    <a href="/projects" class="checkout-my-projects-link"> <i class="fa fa-sign-out"></i> </a>
  </div>

</template>
