<template name="projects">
  <div class="projects-collection">
      {{#each projects}}
        {{> project}}
      {{/each}}
  </div>

  <div class="project-app-frame">

    <span class="navigation-icons">
      <a href="#">
        <i class="fa fa-info-circle"></i> More Info
      </a>
    </span>

    <span class="window-icons pull-right">
      <a href="#">
        <i class="fa fa-minus minimize"> </i>
      </a>
      <a href="#">
        <i class="fa fa-th maximize"></i>
      </a>
      <a href="#">
        <i class="fa fa-times app-close"></i>
      </a>
    </span>
    <iframe src="" class="project-app"> </iframe>

  </div>
</template>
