html {
  font-size: 62.5%
}
body {
  background: #fff url("img/background.jpeg") center/cover no-repeat fixed;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.word-color-fix {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:  #000;
  opacity: 0.50;
  z-index: -100;
}
.content {

  @media(max-width: 991px){
    padding-top: 40px;
  }
}
