.projects-collection {
 display:inline-block;
  @media (min-width: 992px ) {
    margin: 25px 190px;
  }
  @media (max-width: 991px ){
    margin: 15px 5px;
  }
}

.project-app-frame {
  background-color: rgba(175, 175, 175, 0.95);
  position: fixed;
  border: 1px solid black;
  display: none;
  @media (min-width: 992px) {
    width: 90%;
    height: 90%;
    top: 7%;
    left: 7%;
  }
  @media (max-width: 991px){
    height: 95%;
    width: 95%;
    top: 0;
    left: 0;
  }
}

.project-app {

  border: none;
  display: block;

  @media (min-width: 992px) {
    height: 881px;
    width: 100%;
  }
  @media (max-width: 991px){
    height: 881px;
    width: 100%;
  }
}
.maximize-frame {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.maximize-app {
  width: 100%;
  height: 100%;
}
.navigation-icons {
  padding-left: 10px;
  a {
     &:hover {
       color: white;
       text-decoration: none;
     }
  }
}
.window-icons
{
  padding: 0 10px;
  a {
    margin-left: 10px;

    &:hover{
      text-decoration: none;
    }
  }
}
.minimize {
  color: #FFFF00;
  border-radius: 7px;
  box-shadow: 0px 1px 15px #FFFF00;
  &:hover{
    box-shadow: 0px 1px 15px white !important;
    color: rgb(253, 253, 174) !important;
  }
}

.maximize {
  color: #6FFF00;
  border-radius: 7px;
  box-shadow: 0px 1px 15px rgba(111, 255, 0, 0.72);
  &:hover {
    box-shadow: 0px 1px 15px white !important;
    color: #C4FF96 !important
  }
}
.app-close {
  color: #FE0001;
  border-radius: 15px;
  box-shadow: 0px 0px 26px rgba(255, 0, 0, 0.62);
  &:hover {
    box-shadow: 0px 1px 15px white !important;
    color: #FF9B9B !important;
  }
}
.popover {
  background-color: rgba(255, 235, 135, 1);
  opacity: 0.99;
  h3 {
    color: #42a5f5;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  h4 {
    color: orange;
    font-style: italic;
  }
}
.about-this-project {
  font-weight: 800;
  color: white;
  font-style: italic;

  &:hover {
    color: #60A6E5;
    cursor: pointer;
  }
}
.app-title{
  position: fixed;
  width: 90%;
  text-align: center;
  font-weight: bold;
  color: white;
}
