nav.side-navbar {
  color: white;
  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: orange;
    }
  }


  @media (min-width: 992px){
    position: fixed;
    background-color: rgba(0,0,0, 0.85);

    height: 100%;
    color: white;

    li.selected {
      border-left: 1px solid orange;
    }

    .selected {
       a {
         color: orange;
       }
    }

    ul
    {
      margin: 15px;
      padding: 0;
      list-style-type: none;
      li{
        margin-bottom: 20px;
        border-left: 1px solid gray;
        padding-left: 15px;
        font-size: 15px;
        &:hover {
          border-left: 1px solid orange;

          a {
            color: orange;
          }
        }
      }
    }

    .logo {
      margin-top: 25px;
      margin-bottom: 25px;
      display: block;
      font-weight: 700;
      padding: 0 15px;
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-size: 2rem;
    }

    .social-media-profiles{
      width: 50%;
      position: fixed;
      bottom: 25px;
      left: 5px;
      a {
        padding: 0 5px;
      }
      img {
        width: 32px;
      }
    }
  }

  @media (max-width: 991px){
    padding-top: 10px;
    position: relative;
    top:0;
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    a {
      color: orange;
      &:hover {
        color: white;
      }
    }
    ul
    {
      padding: 0;
      display:inline;
      list-style-type: none;
      li{
        margin-bottom: 15px;
        display: inline-block;
        padding-left: 10px;
      }
    }

    .selected {
       a {
         color: white;
       }
    }

    .logo {
      display: inline;
      font-weight: 700;
      padding: 0px 15px;
    }

    .social-media-profiles {
      bottom: 0px;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 100;
      background-color: rgba(0,0,0,0.6);
      padding: 5px 0;
      a {
        padding: 0 5px;
      }
      img {
        width: 24px;
      }
    }
  }
}
