nav.side-navbar {
  color: white;
  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: orange;
    }
  }
  .open-app {
    background-color: rgba(125,125,125,0.5);
    border-left: 1px solid orange;
  }
  .project-icon {
    height: 55px;
    margin-left: 15px;
    margin: 15px 15px;
    display: none;
  }

  @media (min-width: 992px){

    position: fixed;
    background-color: rgba(0,0,0, 0.85);

    height: 100%;
    color: white;

    li.selected {
      border-left: 1px solid orange;
    }

    .selected {
       a {
         color: orange;
       }
    }

    ul
    {
      margin: 15px;
      padding: 0;
      list-style-type: none;
      li{
        margin-bottom: 20px;
        border-left: 1px solid gray;
        padding-left: 15px;
        font-size: 15px;
        &:hover {
          border-left: 1px solid orange;

          a {
            color: orange;
          }
        }
      }
    }

    .logo {
      margin-top: 25px;
      margin-bottom: 25px;
      display: block;
      font-weight: 700;
      padding: 0 15px;
      font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
      font-size: 2rem;
    }

    .social-media-profiles{
      width: 50%;
      position: fixed;
      bottom: 25px;
      left: 5px;
      a {
        padding: 0 5px;
      }
      img {
        width: 32px;
      }
    }

  }

  @media (max-width: 991px){
    z-index:1;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    text-align:center;

    .menu-drawer{
      background-color: rgba(255, 165,0,0.9);
      box-shadow: 5px 1px 7px black;
    }

    .menu-drawer-button{
      font-size: 30px;
      margin: 5px 0;
    }

    a {
      color: orange;
      &:hover {
        color: white;
      }
    }
    ul
    {
      padding: 0;
      list-style-type: none;
      li{
        margin-top: 15px;
        padding-left: 0;
      }
    }

    .selected {
       a {
         color: white;
       }
    }

    .logo {
      font-weight: 700;
      margin-top: 15px
    }

    .mobile-drawer{
      display: none;
    }

    .social-media-profiles {
      text-align: center;
      width: 100%;
      a {
        padding: 0 5px;
      }
      img {
        width: 27px;
      }
    }
  }
}
